body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/008/141/207/non_2x/panoramic-abstract-web-background-light-multicolored-gradient-vector.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #000000; 
}

.section {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.section.animated {
    opacity: 1;
    transform: translateX(0);
}

h1, h2 {
    color: whitesmoke; 
}

nav ul li a {
    color: whitesmoke; 
}
nav ul li a:hover {
    color: #ff0000; 
}

p, li {
    color: whitesmoke;
}
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}
